@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Regular.ttf");
    font-style: "normal";
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-SemiBold.ttf");
    font-style: "normal";
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Bold.ttf");
    font-style: "normal";
    font-weight: 700;
}

:root {
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;

    --text-preset-1-font-size: 24px;
    --text-preset-1-line-height: 36px;

    --text-preset-2-font-size: 14px;
    --text-preset-2-line-height: 21px;
}

.text-preset-1 {
    font-size: var(--text-preset-1-font-size);
    line-height: var(--text-preset-1-line-height);
}

.text-preset-2 {
    font-size: var(--text-preset-2-font-size);
    line-height: var(--text-preset-2-line-height);
}

* {
    box-sizing: border-box;
    font-family: "Inter";
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

.container {
    display: flex;
    flex-direction: column;
    width: 327px;
    background-color: #1f1f1f;
    padding: 24px;
    border-radius: 12px;
}

.circle {
    border-radius: 50%;
}

h2 {
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: 4px;
}

.text--green {
    color: #c4f82a;
}

.normal {
    font-weight: 400;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.text--white {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

p {
    text-align: center;
    margin-top: 4px; 
    margin-bottom: 24px;
}

.profile-pic {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 12px;
    background-color: #333333;
    text-decoration: none;
    cursor: default;
    border-radius: 8px;
    color: white;
    transition: 1s;
}

a:hover {
    background-color: #c4f82a;
    color: #333333;
}

@media (min-width: 768px) {
    .container {
        width: 456px;
        padding: 40px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 384px;
    }
}